In [1]:
import sys
import pandas as pd
from sklearn.preprocessing import StandardScaler

sys.path.append("..")

In [2]:
train = pd.read_csv('../data/500_ngrams/train_features.csv', index_col=0)

train['A'] = train['A'].apply(lambda x: pd.eval(x))
train['B'] = train['B'].apply(lambda x: pd.eval(x))

val = pd.read_csv('../data/500_ngrams/validation_features.csv', index_col=0)

val['A'] = val['A'].apply(lambda x: pd.eval(x))
val['B'] = val['B'].apply(lambda x: pd.eval(x))

In [3]:
train.head()

,A,B,different_author
0,"[63.175394846217785, 9.958783333333336, 12.468...","[55.25965379494008, 7.702779914529913, 10.3195...",True
1,"[55.25965379494008, 7.702779914529913, 10.3195...","[63.07053941908713, 10.716359090909094, 12.448...",True
2,"[63.07053941908713, 10.716359090909094, 12.448...","[67.94055201698514, 7.97810650887574, 9.554140...",True
3,"[56.97278911564626, 9.347843762455163, 9.35374...","[65.33575317604355, 12.83024200518583, 7.86448...",False
4,"[65.33575317604355, 12.83024200518583, 7.86448...","[60.810810810810814, 15.456211640211635, 8.868...",False

In [4]:
number_of_features = len((train['A'][0]))
number_of_features

833

In [5]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
min_max_scaler = MinMaxScaler(feature_range=(0, 1))

train_a_vectors = pd.DataFrame(train['A'].tolist())
train_b_vectors = pd.DataFrame(train['B'].tolist())
val_a_vectors = pd.DataFrame(val['A'].tolist())
val_b_vectors = pd.DataFrame(val['B'].tolist())

scaler.fit(train_a_vectors)
min_max_scaler.fit(train_a_vectors)

# transform train df
# train['A'] = scaler.transform(train_a_vectors).tolist()
# train['B'] = scaler.transform(train_b_vectors).tolist()


# # transform validation df
# val_a_vectors = pd.DataFrame(val['A'].tolist())
# val_b_vectors = pd.DataFrame(val['B'].tolist())

# val['A'] = scaler.transform(val_a_vectors).tolist()
# val['B'] = scaler.transform(val_b_vectors).tolist()

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
a_columns_names = ['A_{}'.format(i) for i in range(833)]
b_columns_names = ['B_{}'.format(i) for i in range(833)]

# Standard Scaler

train_scaled = pd.concat([pd.DataFrame(scaler.transform(train_a_vectors), columns=a_columns_names),
                          pd.DataFrame(scaler.transform(train_b_vectors), columns=b_columns_names),
                          train['different_author']],
                          axis=1)

val_scaled = pd.concat([pd.DataFrame(scaler.transform(val_a_vectors), columns=a_columns_names),
                        pd.DataFrame(scaler.transform(val_a_vectors), columns=b_columns_names),
                        val['different_author']],
                        axis=1)

# MinMax Scaler

train_minmax_scaled = pd.concat([pd.DataFrame(min_max_scaler.transform(train_a_vectors), columns=a_columns_names),
                                 pd.DataFrame(min_max_scaler.transform(train_b_vectors), columns=b_columns_names),
                                 train['different_author']],
                                 axis=1)

val_minmax_scaled = pd.concat([pd.DataFrame(min_max_scaler.transform(val_a_vectors), columns=a_columns_names),
                               pd.DataFrame(min_max_scaler.transform(val_a_vectors), columns=b_columns_names),
                               val['different_author']],
                               axis=1)

In [7]:
train_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_824,B_825,B_826,B_827,B_828,B_829,B_830,B_831,B_832,different_author
0,0.215654,-0.258210,0.256392,1.790401,1.195253,0.798484,0.0,0.0,0.978181,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.321039,-0.080532,-0.178229,-0.044893,0.571882,True
1,-0.742747,-0.827390,-0.293096,-0.130107,-0.568531,-0.022859,0.0,0.0,0.332644,0.105557,...,-0.128485,-0.16671,-0.285598,-0.149821,6.401839,-0.080532,-0.178229,-0.044893,-0.353172,True
2,0.202959,-0.067077,0.251101,1.781177,1.195253,0.869781,0.0,0.0,0.968845,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172,True
3,-0.535329,-0.412347,-0.540024,0.531422,-0.568531,0.873887,0.0,0.0,1.107330,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,1.748913,-0.080532,-0.178229,-0.044893,-0.353172,False
4,0.477220,0.466246,-0.920773,1.658546,-0.568531,1.523380,0.0,0.0,0.416419,0.727026,...,-0.128485,-0.16671,-0.285598,-0.149821,0.192239,-0.080532,-0.178229,-0.044893,-0.353172,False

In [8]:
val_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_824,B_825,B_826,B_827,B_828,B_829,B_830,B_831,B_832,different_author
0,-0.419309,-0.414689,-1.873521,0.956191,-0.568531,-0.477507,0.0,0.0,0.511223,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172,True
1,-0.214744,-0.470367,-2.007632,-0.084456,1.213069,-0.516515,0.0,0.0,0.339927,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.992468,-0.080532,-0.178229,-0.044893,-0.353172,True
2,0.805759,0.114356,-1.440205,-0.385260,-0.568531,-0.994697,0.0,0.0,-0.145907,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,1.013842,-0.080532,-0.178229,-0.044893,-0.353172,False
3,-1.370513,0.072984,-0.447409,1.960896,1.006276,0.631051,0.0,0.0,-0.521038,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.810739,-0.080532,-0.178229,-0.044893,-0.353172,False
4,-1.027781,0.059180,-0.714059,-0.231372,-0.568531,0.005900,0.0,0.0,1.839914,-0.550301,...,-0.128485,-0.16671,2.230927,-0.149821,0.190354,-0.080532,-0.178229,-0.044893,-0.353172,True

In [34]:
train_scaled.to_csv('../data/500_ngrams/train_features_scaled.csv')
val_scaled.to_csv('../data/500_ngrams/validation_features_scaled.csv')

In [9]:
train_minmax_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_824,B_825,B_826,B_827,B_828,B_829,B_830,B_831,B_832,different_author
0,0.591167,0.238369,0.393659,0.654621,0.23,0.544193,0.0,0.0,0.470222,0.000000,...,0.0,0.0,0.0,0.0,0.095192,0.0,0.0,0.0,0.072784,True
1,0.500083,0.186608,0.325804,0.428397,0.00,0.448047,0.0,0.0,0.409647,0.069231,...,0.0,0.0,0.0,0.0,0.742500,0.0,0.0,0.0,0.000000,True
2,0.589960,0.255750,0.393005,0.653535,0.23,0.552540,0.0,0.0,0.469346,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,True
3,0.519795,0.224352,0.295311,0.506321,0.00,0.553020,0.0,0.0,0.482341,0.000000,...,0.0,0.0,0.0,0.0,0.247191,0.0,0.0,0.0,0.000000,False
4,0.616025,0.304250,0.248293,0.639090,0.00,0.629050,0.0,0.0,0.417508,0.134831,...,0.0,0.0,0.0,0.0,0.081481,0.0,0.0,0.0,0.000000,False

In [10]:
val_minmax_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_824,B_825,B_826,B_827,B_828,B_829,B_830,B_831,B_832,different_author
0,0.530822,0.224139,0.130640,0.556357,0.000000,0.394825,0.0,0.0,0.426404,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,True
1,0.550263,0.219075,0.114079,0.433775,0.232323,0.390259,0.0,0.0,0.410330,0.0,...,0.0,0.0,0.000000,0.0,0.166667,0.0,0.0,0.0,0.0,True
2,0.647249,0.272249,0.184150,0.398342,0.000000,0.334283,0.0,0.0,0.364741,0.0,...,0.0,0.0,0.000000,0.0,0.168942,0.0,0.0,0.0,0.0,False
3,0.440422,0.268487,0.306748,0.674705,0.205357,0.524594,0.0,0.0,0.329540,0.0,...,0.0,0.0,0.000000,0.0,0.147321,0.0,0.0,0.0,0.0,False
4,0.472994,0.267232,0.273820,0.416469,0.000000,0.451413,0.0,0.0,0.551084,0.0,...,0.0,0.0,0.214286,0.0,0.081281,0.0,0.0,0.0,0.0,True

In [11]:
train_minmax_scaled.to_csv('../data/500_ngrams/train_features_scaled_minmax.csv')
val_minmax_scaled.to_csv('../data/500_ngrams/validation_features_scaled_minmax.csv')